body{
    font-family: $main-font;
    background-color: $main-bg;
}

.colour{
    background-color: $main-colour;
    margin-bottom:5rem ;
}
.product-panel{
    display:none;
}
.Prod-Info{
    display: none;
    background-color: rgba(83, 82, 80, 0.116);
}
.Prod-Info h2{
  font-size: larger;
  font-weight: 900;
  margin-left: 30rem;
}
.Prod-Info h3{
    font-size: .95em;
    font-weight: 700;
    margin-left: 33rem;
    margin-top: 1rem;
    color: $main-colour;
}
.Prod-Info h4{
  font-size: .75em;
  font-weight: 400;
  margin-left: 30rem;
  margin-top: 1rem;
}

.blue{
    background-color: $main-blue;
}

.white{
    background-color: $main-bg;
}
ul li:hover{
    color:$main-colour;
}

.about p {
    margin: 3rem 8rem 5rem 8rem;
    font-size: 25px;
}

.about h2{
    margin-left: 60rem;
    font-size: 2rem;
    font-weight: bold;
}

footer {
    margin-left: 25em;
    margin-top: 3em ;
}

.footer-nav{
    margin-left: 8em;
}
.footer-nav p {

    margin-top: 3em;
    margin-left: 2em;
    display: inline-block;
   
}

.logo img {
    margin-left: -3em;
    margin-top: 1em;
    width:80%;
    height: 80%;
  }
  
  .hero-img img{
    margin-left: 2.5em;
    margin-right: 1.5em;
    margin-bottom: 5em;
    width: 95%;
    height:95%;
  }

  img {
    width: 10%;
    height:10%;
    margin: 1rem;
  }

  .picture{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-bottom: 2rem;
  }
  .picture img {
    width:50%;
    height: 50%;
    border: $main-colour solid 1rem;
  }

  .nav-buttons{
    margin-top:2rem;
    background-color: $main-colour;
    color: $main-bg;
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
  }

  .View_Prod_button{
    margin-top:2rem;
    background-color: $main-colour;
    color: $main-bg;
    width: 15rem;
    height: 3rem;
    border-radius: 5px;
    font-size: .75em;
  }
  .close{
    display: none;
  }
