@media screen and (min-width: 1800px) {

    body{
    font-size: 25px;
        }
    
        .green{
            height: 525px;
        }
        
        .white{
            height:525px;
        }
    }