@media screen and (min-width: 1800px) {

    body{
    font-size: 25px;
        }
    
        .green{
            height: 525px;
        }
        
        .white{
            height:525px;
        }

        .header nav{
            display: inline-flex;
        }

        .about p {
            margin: 3rem 8rem 5rem 8rem;
            font-size: 25px;
        }
        
        .about h2{
            margin-left: 60rem;
            font-size: 2rem;
            font-weight: bold;
        }
        
        ul{
            display: inline-flex;
            font-family: $main-font;
            font-size: 1.25em;
        }
        .main-nav ul{
            margin-left: 10em;
            margin-top:4rem;
        }
        .main-nav ul li{
            margin-left: 3em;
        }
        
        .user-login ul{
            margin-left: 40em;
            margin-top: -47em;
        }
        .user-login ul li{
            margin-left: 3em;
        }
        .user-login {
            margin-top: -1em;
        }
        // end nav positions for desktop

        footer {
            margin-left: 25em;
            margin-top: 3em ;
        }
        
        .footer-nav{
            margin-left: 8em;
            margin-top: 1em;
        }
        .footer-nav p {
        
            margin-top: 1em;
            margin-left: 1em;
            display: inline-block;
           
        }

        button {
            margin-left:11rem;
            margin-right: 11rem;
          }
        .View_Prod_button{
            margin-left:60rem;
            margin-bottom: 2rem;
          }

          .Prod-Info{
            background-color: rgba(83, 82, 80, 0.116);
            height: 10rem;
            color:$main-text-grey;
            margin-left:30rem;
            margin-right: 30rem;
            margin-top: 3rem;
            border: $main-colour solid 3px;
          }


          .picture img {
            width:50%;
            height: 50%;
            border: $main-colour solid 1rem;
          }
          .close{
            display: none;
            margin-left: 110rem;
          
          }
    }