@media screen and (max-width: 770px) {
body{
    background-color: $main-bg;
    color: $main-colour;
    font-family:$main-font;
    font-size: 16px;
}

.green{
    height: 155px;
}

.white{
    height:155px;
}

}