@media screen and (max-width: 760px) {
body{
    background-color: $main-bg;
    color: $main-colour;
    font-family:$main-font;
    font-size: 9.5px;
}

.green{
    height: 155px;
}

.white{
    height:155px;
}

}